// 颜色
$cui-color-primary: #6b69f8;
$cui-color-default: #dcdfe6;
$cui-color-success: #67c23a;
$cui-color-warning: #e6a23c;
$cui-color-error: #f56c6c;
$cui-color-info: #909399;
$cui-color-disabled: #c0c4cc;
$cui-color-disabled-bg: #f5f7fa;
$cui-color-active: #f7f7f7;
$cui-color-bg: #f6f7fa;
$cui-color-placeholder: #a8abb2;

// 通用
$cui-topbar-height: 44px;
$cui-border-color: #dcdfe6;
$cui-border-width: 1px;
$cui-border-radius: 8rpx;
$cui-font-size: 26rpx;
$cui-height: 64rpx;
$cui-zIndex: 500;
$cui-padding: 20rpx;

// 按钮
$cui-button-padding: 0rpx 30rpx;
$cui-button-radius: 12rpx;

// 多选框
$cui-checkbox-size: 34rpx;

// 单选框
$cui-radio-size: 34rpx;

// 计数器
$cui-input-number-size: 42rpx;

// 页面主题色
$cui-page-theme-color: #f5f1e6;
